<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPENDERS</key>
	<array>
		<dict>
			<key>colors</key>
			<true/>
			<key>encoders</key>
			<dict>
				<key>pattern</key>
				<array>
					<string></string>
				</array>
			</dict>
			<key>name</key>
			<string>console</string>
			<key>class</key>
			<string>VMLogger.ConsoleLogAppender</string>
		</dict>
		<dict>
			<key>name</key>
			<string>file</string>
			<key>class</key>
			<string>VMLogger.FileLogAppend</string>
			<key>fileName</key>
			<string>log.txt</string>
		</dict>
	</array>
	<key>LOGGER_CONFIG</key>
	<dict>
		<key>VMLogger_Example</key>
		<dict>
			<key>LOGGER_APPENDERS</key>
			<array>
				<string>file</string>
			</array>
			<key>LOGGER_LEVEL</key>
			<string>Error</string>
			<key>LOGGER_ADDITIVITY</key>
			<true/>
		</dict>
		<key>VMLogger_Example.AppDelegate</key>
		<dict>
			<key>LOGGER_LEVEL</key>
			<string>info</string>
			<key>LOGGER_ADDITIVITY</key>
			<true/>
		</dict>
	</dict>
	<key>LOGGER_LEVEL</key>
	<string>verbose</string>
	<key>LOGGER_APPENDERS</key>
	<array>
		<string>console</string>
	</array>
</dict>
</plist>
